<template>
    <UserForm></UserForm>
</template>

<script>
    import UserForm from '@/components/UserForm.vue';

    export default {
        name: "addUser",
        components: {
            UserForm
        }
    }
</script>

<style scoped>

</style>