<template>
  <AlbumList class="col-md-12"/>
</template>

<script>
    import AlbumList from '@/components/AlbumList.vue';

    export default {
        name: "AlbumPage",

        components: {
            AlbumList
        },
    }
</script>
