<template>
    <UserList class="col-md-12"/>
</template>

<script>
    import UserList from '@/components/UserList.vue';

    export default {
        name: "UserPage",

        components: {
            UserList
        },
    }
</script>