<template>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card-deck">
                <div class="card">
                    <img :src=user.avatar class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }}</h5>
                        <p class="card-text">{{ user.email}}</p>
                    </div>
                    <div class="card-footer">
                        <router-link :to="{ name: 'users.edit', params: { id: user.id } }" tag="button"
                                     class="btn btn-primary">Edit
                        </router-link>
                    </div>
                    <div>
                        <router-link :to="{ name: 'albums.add', params: { id: user.id } }" tag="button"
                                     class="btn btn-primary">Add album
                        </router-link>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState, mapActions} from 'vuex';

    export default {
        name: "ViewUser",

        data: () => ({
            user: {
                id: null,
                name: null,
                email: null,
                avatar: null
            }
        }),

        async created() {
            !this.users.length ? await this.fetchUsers() : '';
            const id = this.findUserById(this.$route.params.id);
            this.user = this.users[id];
        },

        computed: {
            ...mapGetters('users', [
                'findUserById'
            ]),

            ...mapState('users', [
                'users'
            ]),
        },

        methods: {
            ...mapActions('users', [
                'fetchUsers'
            ])
        }
    }
</script>

<style scoped>
</style>