<template>
    <div class="row">
        <h4 class="col-md-12">Total: {{totalAlbums}} albums</h4>

        <div v-if="albums.length" class="col-md-12">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Preview</th>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="album in albums">
                    <Album
                            :key="album.id"
                            :album="album"
                            :user="getUserData(album)"
                            @delete="deleteAlbum(album)"
                    />
                </template>
                </tbody>
            </table>
        </div>

        <div v-else class="col-md-12">
            <h3>Albums not found!</h3>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';
    import Album from '@/components/Album.vue';

    export default {
        name: "album-list",

        components: {
            Album
        },

        async created() {
            !this.albums.length ? await this.fetchAlbums() : '';
            !this.users.length ? await this.fetchUsers() : '';
        },

        computed: {
            ...mapState('albums', [
                'albums'
            ]),

            ...mapState('users', [
                'users'
            ]),

            ...mapGetters('albums', [
                'totalAlbums',
            ]),

            ...mapGetters('users', [
                'findUserById',
            ])
        },

        methods: {
            ...mapActions('albums', [
                'deleteAlbum',
                'fetchAlbums'
            ]),

            ...mapActions('users', [
                'fetchUsers'
            ]),

            getUserData(album) {
                console.log(album.id);
                return this.users[0];
            }
        }
    }
</script>

<style scoped>

</style>