<template>
    <tr>
        <td scope="row">
            <router-link :to="{ name: 'albums.view', params: { id: album.id } }">
                <img :src=album.preview>
            </router-link>
        </td>
        <td>{{ album.title }} - {{ user.name }}</td>
        <td>
            <button @click="$emit('delete', album)" type="button" class="btn btn-danger">
                Delete
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "Album",
        props: {
            album: {
                type: Object,
                required: true,
            },
            user: {
                type: Object,
                required: true,
            }
        },
    }
</script>

<style scoped>

</style>