<template>
    <div class="row flex-row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert" v-show="albumFormError">
                {{ albumFormError }}
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" v-model="albumFormData.title">
                <small id="titleHelp" class="form-text text-muted">Please enter title.</small>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex justify-content-between">
                    <button @click="save" type="button" class="btn btn-success">Add</button>
                    <router-link :to="{ name: 'users.view', params: {id: this.$route.params.id} }" tag="button" class="btn btn-warning">Close</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex';

    export default {
        name: "userForm",

        data: () => ({
            albumFormError: null,
            albumFormData: {
                id: null,
                title: null,
                user_id: null,
                preview: 'https://via.placeholder.com/150/197d29'
            },
        }),

        async created() {
            await this.fetchUsers();
            const id = this.findUserById(this.$route.params.id);
            if(id !== -1) {
                this.albumFormData.user_id = this.users[id].id;
            }
        },

        computed: {
            ...mapGetters('users', [
                'findUserById'
            ]),

            ...mapState('users', [
                'users'
            ]),
        },

        methods: {
            ...mapActions('users', [
                'fetchUsers'
            ]),

            ...mapActions('albums', [
               'saveAlbum'
            ]),

            validateData(){
              return this.albumFormData.title;
            },

            save(){
                if(this.validateData()) {
                    this.saveAlbum(this.albumFormData);
                    this.albumFormData = null;
                    this.$router.push({ name: 'users.view', params: {id: this.$route.params.id} }).catch(() => {});
                } else {
                    this.albumFormError = 'Please fill the title!'
                }
            }
        }
    }
</script>

<style scoped>

</style>