<template>
    <div id="nav">
        <router-link :to="{ name: 'users' }">Users</router-link> |
        <router-link :to="{ name: 'albums' }">Albums</router-link>
    </div>
</template>

<script>
    export default {
        name: "navigation"
    }
</script>

<style scoped>

</style>