<template>
    <div class="row">
        <h4 class="col-md-12">Total: {{totalUsers}} users</h4>
        <div class="input-group col-md-12 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Search</span>
            </div>

            <input
                    type="text"
                    class="form-control"
                    placeholder="Type user name or email"
                    v-model="searchString"
            >
        </div>

        <div v-if="filteredUsers.length" class="col-md-12">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th></th>
                    <th>
                        <router-link :to="{ name: 'users.add' }" tag="button" class="btn btn-success">Add</router-link>
                    </th>
                </tr>
                </thead>
                <tbody>
                <template v-for="user in filteredUsers">
                    <User
                            :key="user.id"
                            :user="user"
                            @delete="deleteUser(user)"
                    />
                </template>
                </tbody>
            </table>
        </div>

        <div v-else class="col-md-12">
            <h3>Users not found!</h3>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';
    import User from '@/components/User.vue';

    export default {
        name: "user-list",

        components: {
            User
        },

        data: () => ({
            searchString: ''
        }),

        async created() {
            !this.users.length ? await this.fetchUsers() : '';
        },

        computed: {
            ...mapState('users', [
                'users'
            ]),

            ...mapGetters('users', [
                'totalUsers',
            ]),

            filteredUsers() {
                return this.users.filter((user) => {
                    const nameMatch = user.name.trim().toLowerCase().includes(this.searchString.trim().toLowerCase());
                    const emailMatch = user.email.trim().toLowerCase().includes(this.searchString.trim().toLowerCase());

                    return nameMatch || emailMatch;
                });
            }
        },

        methods: {
            ...mapActions('users', [
                'deleteUser',
                'fetchUsers'
            ])
        }
    }
</script>

<style scoped>

</style>