<template>
    <tr>
        <td scope="row">
            <router-link :to="{ name: 'users.view', params: { id: user.id } }">
                <img :src=user.avatar>
            </router-link>
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <router-link :to="{ name: 'users.edit', params: { id: user.id } }" tag="button" class="btn btn-primary">Edit</router-link>
        </td>
        <td>
            <button @click="$emit('delete', user)" type="button" class="btn btn-danger">
                Delete
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "User",
        props: {
            user: {
                type: Object,
                required: true,
            },
        },
    }
</script>

<style scoped>

</style>