<template>
    <div class="row flex-row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert" v-show="userFormError">
                {{ userFormError }}
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" v-model="userFormData.name">
                <small id="nameHelp" class="form-text text-muted">Please enter your name.</small>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       v-model="userFormData.email">
                <small id="emailHelp" class="form-text text-muted">
                    We'll never share your email with anyone else.
                </small>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex justify-content-between">
                    <button @click="save" type="button" class="btn btn-success">Save</button>
                    <router-link :to="{ name: 'users' }" tag="button" class="btn btn-warning">Close</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapState, mapGetters } from 'vuex';

    export default {
        name: "userForm",

        data: () => ({
            userFormError: null,
            userFormData: {
                id: null,
                name: null,
                email: null,
                avatar: 'https://via.placeholder.com/150/197d29'
            },
        }),

        async created() {
            !this.users.length ? await this.fetchUsers() : '';
            const id = this.findUserById(this.$route.params.id);
            if(id !== -1) {
                this.userFormData = this.users[id];
            }
        },

        computed: {
            ...mapGetters('users', [
                'findUserById'
            ]),

            ...mapState('users', [
                'users'
            ]),
        },

        methods: {
            ...mapActions('users', [
                'saveUser',
                'fetchUsers'
            ]),

            validateData(){
              return this.userFormData.name && this.userFormData.email
            },

            save(){
                if(this.validateData()) {
                    this.saveUser(this.userFormData);
                    this.userFormError = null;
                    this.$router.push({ name: 'users' }).catch(() => {});
                } else {
                    this.userFormError = 'Please fill all fields!'
                }
            }
        }
    }
</script>

<style scoped>

</style>